type goldfish_adb_setup, domain, coredomain;
type goldfish_adb_setup_exec, system_file_type, exec_type, file_type;

init_daemon_domain(goldfish_adb_setup)

allow goldfish_adb_setup shell_exec:file { rx_file_perms };

# Allow write to /dev/kmsg
allow goldfish_adb_setup kmsg_debug_device:chr_file { w_file_perms getattr ioctl };

# Allow read/write /data/misc/adb/adb_keys
allow goldfish_adb_setup adb_keys_file:file { create setattr rw_file_perms };
allow goldfish_adb_setup adb_keys_file:dir { search add_name write };

allow goldfish_adb_setup toolbox_exec:file { getattr execute read open execute_no_trans map };
