service vendor.radio-ranchu /vendor/bin/hw/android.hardware.radio-service.ranchu
    class hal
    user radio
    group radio inet misc log readproc wakelock
    capabilities BLOCK_SUSPEND NET_ADMIN NET_RAW
