vendor_restricted_prop(qemu_prop)
vendor_restricted_prop(qemu_cmdline)
vendor_restricted_prop(radio_noril_prop)
vendor_restricted_prop(net_wlan0_prop)
vendor_restricted_prop(net_eth0_prop)
vendor_restricted_prop(net_radio0_prop)
vendor_restricted_prop(net_share_prop)
vendor_restricted_prop(vendor_net)
vendor_restricted_prop(vendor_build_prop)
